<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/Images/logo/93x93.png">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Angel Lacson</span>
                        <span class="text-muted text-xs block">Company Staff <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img class="logo" src="@Url.Content("~/images/logo/65x65.png")" alt="ERC-OFAS">
                </div>
            </li>
            <li class="@Url.Action("Dashboard_1", "Dashboards")">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">Dashboard <span class="label label-warning float-right">12</span></span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "SealingAndAcceptanceTesting")">
                <a href="@Url.Action("Index", "SealingAndAcceptanceTesting")"><i class="fa fa-newspaper-o"></i> <span class="nav-label" data-i18n="nav.layouts">Sealing And Acceptance Testing </span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "OnGoingCases")">
                <a href="@Url.Action("Index", "OnGoingCases")"><i class="fa fa-briefcase"></i> <span class="nav-label" data-i18n="nav.layouts">On-Going Cases</span> <span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Layouts", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "CasePleadings")"><a href="@Url.Action("CasePleadings", "OnGoingCases")">File a Case/Pleading</a></li>
                    <li class="@Html.IsSelected(action: "PreFilingList")"><a href="@Url.Action("PreFilingList", "OnGoingCases")">Pre-Filing List</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "ValidationRequests")">
                <a href="@Url.Action("Index", "ValidationRequests")"><i class="fa fa-newspaper-o"></i> <span class="nav-label" data-i18n="nav.layouts">Validation Requests</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Metrics")">
                <a href="@Url.Action("Index", "Metrics")"><i class="fa fa-tasks"></i> <span class="nav-label" data-i18n="nav.metrics">Transactions</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Widgets")">
                <a href="@Url.Action("Index", "Widgets")"><i class="fa fa-bookmark"></i> <span class="nav-label" data-i18n="nav.widgets">Knowledge Based</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "UserManagement")">
                <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.dashboard">User Management</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "UserManagement", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Pages")"><a href="@Url.Action("Pages", "UserManagement")">Pages</a></li>
                    <li class="@Html.IsSelected(action: "Roles")"><a href="@Url.Action("Roles", "UserManagement")">Roles</a></li>
                    <li class="@Html.IsSelected(action: "Dashboard_5")"><a href="@Url.Action("Dashboard_5", "Dashboards")">Users</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Settings")">
                <a href="@Url.Action("Index", "Settings")"><i class="fa fa-cog"></i> <span class="nav-label" data-i18n="nav.widgets">Settings</span> </a>
            </li>
        </ul>
    </div>
</nav>